<a href="https://colab.research.google.com/github/hikaru122700/kaggle-pub/blob/GCI-%E3%82%B3%E3%83%B3%E3%83%9A%EF%BC%92-Home-Credit/010_xgb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Home Credit Default Risk
このnotebookでは、予測結果を作成するまでの流れと基本的な手法についての紹介を行います。


まずは、今回のタスクについて確認しましょう（詳細はREADME.ipynbをご覧ください）。
- **目的**： 顧客データから債務不履行になる確率を予測する。
- **評価指標**： AUC（Area Under the Curve）

## 目次
0. ライブラリ・データの読み込み
1. データの可視化と分析
2. 前処理と特徴量作成
3. 機械学習モデルの作成
4. 予測結果の作成

## 0. ライブラリ・データの読み込み

基本的なライブラリを読み込みます。
他の必要なライブラリについては、説明をする際に読み込みます。
- numpy：数値計算を効率的に行うライブラリ
- pandas：データ分析に便利なライブラリ
- matplotlib：グラフ描画ライブラリ
- seaborn：グラフ描画ライブラリ

In [47]:

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [48]:
!pip install optuna
!pip install catboost

Requirement already satisfied: optuna in /usr/local/lib/python3.10/dist-packages (4.1.0)
Requirement already satisfied: alembic>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from optuna) (1.14.0)
Requirement already satisfied: colorlog in /usr/local/lib/python3.10/dist-packages (from optuna) (6.9.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from optuna) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from optuna) (24.2)
Requirement already satisfied: sqlalchemy>=1.4.2 in /usr/local/lib/python3.10/dist-packages (from optuna) (2.0.36)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from optuna) (4.66.6)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from optuna) (6.0.2)
Requirement already satisfied: Mako in /usr/local/lib/python3.10/dist-packages (from alembic>=1.5.0->optuna) (1.3.8)
Requirement already satisfied: typing-extensions>=4 in /usr/local/lib/python3.10/dist-packages (from alembic>=1.5.0->optuna) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=1.4.2->optuna) (3.1.1)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.10/dist-packages (from Mako->alembic>=1.5.0->optuna) (3.0.2)
Requirement already satisfied: catboost in /usr/local/lib/python3.10/dist-packages (1.2.7)
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.8.0)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.13.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.55.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.2.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (9.0.0)

In [49]:
# ライブラリの読み込み
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.metrics import mean_squared_log_error
from sklearn.model_selection import KFold
from itertools import combinations
import gc

from sklearn.model_selection import KFold
from sklearn.metrics import *
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
import matplotlib.pyplot as plt
import gc
gc.collect()
import optuna
import matplotlib.pyplot as plt

warnings.filterwarnings('ignore')

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
from sklearn.metrics import log_loss
import time

In [50]:

# すべての列を表示するように設定
pd.set_option('display.max_columns', None)

必要なデータの読み込みを行います。GCIの教材フォルダの構成を想定して、読み込んでいます。

In [51]:
# データの読み込み
# INPUT_DIRにtrain.csvなどのデータを置いているディレクトリを指定してください。

path  = "/content/drive/My Drive/松尾研/GCI/コンペ２/"

train = pd.read_csv(path + "train_008.csv")
test = pd.read_csv(path + "test_008.csv")
sample_sub = pd.read_csv(path + "sample_submission.csv")

In [52]:
train_target = pd.read_csv(path + "train.csv")
train_target

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,0,0,Cash loans,F,N,N,0,112500.0,755190.0,36328.5,675000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.010032,-9233,-878,-333.0,-522,NaN,1,1,1,1,0,0,Core staff,2.0,2,2,0,1,1,0,1,1,School,NaN,0.372591,NaN,0.0,0.0,0.0,0.0,-292.0,NaN,NaN,NaN,NaN
1,1,0,Cash loans,F,N,Y,0,225000.0,585000.0,16893.0,585000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.008019,-20148,365243,-4469.0,-3436,NaN,1,0,0,1,0,0,NaN,2.0,2,2,0,0,0,0,0,0,XNA,NaN,0.449567,0.553165,0.0,0.0,0.0,0.0,-617.0,0.0,0.0,0.0,1.0
2,2,0,Cash loans,F,N,Y,0,54000.0,334152.0,18256.5,270000.0,Family,State servant,Secondary / secondary special,Married,House / apartment,0.004960,-18496,-523,-3640.0,-2050,NaN,1,1,1,1,1,0,Core staff,2.0,2,2,0,0,0,0,0,0,Postal,NaN,0.569503,NaN,4.0,0.0,4.0,0.0,-542.0,NaN,NaN,NaN,NaN
3,3,0,Cash loans,F,N,Y,0,67500.0,152820.0,8901.0,135000.0,Children,Pensioner,Lower secondary,Widow,House / apartment,0.005002,-24177,365243,-4950.0,-3951,NaN,1,0,0,1,1,0,NaN,1.0,3,3,0,0,0,0,0,0,XNA,NaN,0.105235,0.767523,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1,Cash loans,M,N,N,0,157500.0,271066.5,21546.0,234000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,With parents,0.006296,-10685,-697,-5101.0,-3226,NaN,1,1,1,1,0,0,Drivers,2.0,3,3,0,0,0,0,1,1,Business Entity Type 3,0.342344,0.202490,0.669057,0.0,0.0,0.0,0.0,-1243.0,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171197,171197,0,Cash loans,M,NaN,NaN,0,83250.0,404325.0,20772.0,337500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.031329,-20529,-3059,-11581.0,-3689,21.0,1,1,1,1,0,0,Laborers,2.0,2,2,0,0,0,0,1,1,Agriculture,NaN,0.404560,0.768808,0.0,0.0,0.0,0.0,-2341.0,0.0,0.0,1.0,0.0
171198,171198,0,Cash loans,F,Y,Y,0,247500.0,601470.0,29065.5,450000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010006,-22083,-129,-4629.0,-1773,1.0,1,1,0,1,0,0,Cooking staff,1.0,2,1,0,0,0,0,0,0,Industry: type 3,NaN,0.608542,NaN,0.0,0.0,0.0,0.0,-1688.0,0.0,0.0,1.0,5.0
171199,171199,0,Cash loans,F,N,N,2,292500.0,1237684.5,49216.5,1138500.0,Unaccompanied,State servant,Higher education,Married,House / apartment,0.006629,-11053,-2536,-4858.0,-3393,NaN,1,1,0,1,0,1,Core staff,4.0,2,2,0,0,0,0,0,0,School,NaN,0.664305,0.758393,2.0,1.0,2.0,1.0,-515.0,0.0,0.0,0.0,1.0
171200,171200,0,Cash loans,M,Y,N,0,112500.0,239850.0,25186.5,225000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,0.009657,-8505,-165,-3318.0,-1176,7.0,1,1,0,1,0,0,Sales staff,1.0,2,2,0,0,0,1,1,0,Business Entity Type 3,0.210918,0.627050,NaN,0.0,0.0,0.0,0.0,-1133.0,NaN,NaN,NaN,NaN
171201,171201,0,Cash loans,F,NaN,NaN,0,108000.0,161730.0,8595.0,135000.0,Family,Working,Secondary / secondary special,Single / not married,House / apartment,0.007305,-17925,-5209,-2411.0,-1473,NaN,1,1,1,1,1,0,Core staff,1.0,3,3,0,0,0,0,0,0,Kindergarten,NaN,0.517986,0.382502,0.0,0.0,0.0,0.0,-220.0,0.0,0.0,0.0,1.0

In [53]:
train.drop("Unnamed: 0", axis=1, inplace=True)
test.drop("Unnamed: 0", axis=1, inplace=True)

## 1. データの可視化と分析

### 1.1 データの概観
本格的な分析を行う前に、まずは簡単にデータの概観を確認します。

In [54]:
# trainデータの確認
print(f"train shape: {train.shape}")
train.head(3)

train shape: (171202, 104)

,CNT_CHILDREN,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,OWN_CAR_AGE,FLAG_WORK_PHONE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,REG_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_3,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,CREDIT_INCOME_RATIO,CREDIT_ANNUITY_RATIO,ANNUITY_GOODS_RATIO,EMPLOYED_BIRTH_RATIO,CREDIT_INCOME_PRODUCT,CREDIT_ANNUITY_PRODUCT,CREDIT_GOODS_PRODUCT,EMPLOYED_BIRTH_PRODUCT,CREDIT_EXT_SOURCE_1_PRODUCT,INCOME_EXT_SOURCE_1_PRODUCT,INCOME_EXT_SOURCE_2_RATIO,CREDIT_EXT_SOURCE_2_PRODUCT,INCOME_EXT_SOURCE_3_RATIO,INCOME_EXT_SOURCE_3_PRODUCT,CREDIT_REGISTRATION_RATIO,NAME_CONTRACT_TYPE_Cash loans,CODE_GENDER_F,CODE_GENDER_XNA,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_B,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Maternity leave,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Unemployed,NAME_EDUCATION_TYPE_Academic degree,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Lower secondary,NAME_FAMILY_STATUS_Civil marriage,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Widow,NAME_HOUSING_TYPE_Co-op apartment,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,OCCUPATION_TYPE_Accountants,OCCUPATION_TYPE_Cooking staff,OCCUPATION_TYPE_Drivers,OCCUPATION_TYPE_High skill tech staff,OCCUPATION_TYPE_IT staff,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff,ORGANIZATION_TYPE_Bank,ORGANIZATION_TYPE_Business Entity Type 1,ORGANIZATION_TYPE_Cleaning,ORGANIZATION_TYPE_Culture,ORGANIZATION_TYPE_Electricity,ORGANIZATION_TYPE_Housing,ORGANIZATION_TYPE_Industry: type 10,ORGANIZATION_TYPE_Industry: type 11,ORGANIZATION_TYPE_Industry: type 2,ORGANIZATION_TYPE_Industry: type 3,ORGANIZATION_TYPE_Industry: type 4,ORGANIZATION_TYPE_Industry: type 5,ORGANIZATION_TYPE_Industry: type 6,ORGANIZATION_TYPE_Industry: type 8,ORGANIZATION_TYPE_Industry: type 9,ORGANIZATION_TYPE_Insurance,ORGANIZATION_TYPE_Military,ORGANIZATION_TYPE_Realtor,ORGANIZATION_TYPE_Restaurant,ORGANIZATION_TYPE_Trade: type 1,ORGANIZATION_TYPE_Trade: type 2,ORGANIZATION_TYPE_Trade: type 4,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University
0,0,755190.0,36328.5,675000.0,0.010032,-9233,-878,-333.0,NaN,1,2.0,2,0,1,1,NaN,NaN,0.0,0.0,-292.0,NaN,NaN,NaN,6.7128,20.787811,0.053820,0.095094,8.495888e+10,2.743492e+10,5.097532e+11,8106574,NaN,NaN,301939.131163,281376.735276,NaN,NaN,2267.837831,True,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,0,585000.0,16893.0,585000.0,0.008019,-20148,365243,-4469.0,NaN,0,2.0,2,0,0,0,NaN,0.553165,0.0,0.0,-617.0,0.0,0.0,0.0,2.6000,34.629728,0.028877,-18.128003,1.316250e+11,9.882405e+09,3.422250e+11,-7358915964,NaN,NaN,500480.552704,262996.646938,406749.732494,124462.057223,130.901768,True,True,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,0,334152.0,18256.5,270000.0,0.004960,-18496,-523,-3640.0,NaN,1,2.0,2,0,0,0,NaN,NaN,0.0,4.0,-542.0,NaN,NaN,NaN,6.1880,18.303180,0.067617,0.028276,1.804421e+10,6.100446e+09,9.022104e+10,9673408,NaN,NaN,94819.293500,190300.683015,NaN,NaN,91.800000,True,True,False,True,False,False,True,False,True,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [55]:
# testデータの確認
print(f"test shape: {test.shape}")
test.head(3)

test shape: (61500, 104)

,CNT_CHILDREN,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,OWN_CAR_AGE,FLAG_WORK_PHONE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,REG_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_3,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,CREDIT_INCOME_RATIO,CREDIT_ANNUITY_RATIO,ANNUITY_GOODS_RATIO,EMPLOYED_BIRTH_RATIO,CREDIT_INCOME_PRODUCT,CREDIT_ANNUITY_PRODUCT,CREDIT_GOODS_PRODUCT,EMPLOYED_BIRTH_PRODUCT,CREDIT_EXT_SOURCE_1_PRODUCT,INCOME_EXT_SOURCE_1_PRODUCT,INCOME_EXT_SOURCE_2_RATIO,CREDIT_EXT_SOURCE_2_PRODUCT,INCOME_EXT_SOURCE_3_RATIO,INCOME_EXT_SOURCE_3_PRODUCT,CREDIT_REGISTRATION_RATIO,NAME_CONTRACT_TYPE_Cash loans,CODE_GENDER_F,CODE_GENDER_XNA,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_B,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Maternity leave,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Unemployed,NAME_EDUCATION_TYPE_Academic degree,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Lower secondary,NAME_FAMILY_STATUS_Civil marriage,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Widow,NAME_HOUSING_TYPE_Co-op apartment,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,OCCUPATION_TYPE_Accountants,OCCUPATION_TYPE_Cooking staff,OCCUPATION_TYPE_Drivers,OCCUPATION_TYPE_High skill tech staff,OCCUPATION_TYPE_IT staff,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff,ORGANIZATION_TYPE_Bank,ORGANIZATION_TYPE_Business Entity Type 1,ORGANIZATION_TYPE_Cleaning,ORGANIZATION_TYPE_Culture,ORGANIZATION_TYPE_Electricity,ORGANIZATION_TYPE_Housing,ORGANIZATION_TYPE_Industry: type 10,ORGANIZATION_TYPE_Industry: type 11,ORGANIZATION_TYPE_Industry: type 2,ORGANIZATION_TYPE_Industry: type 3,ORGANIZATION_TYPE_Industry: type 4,ORGANIZATION_TYPE_Industry: type 5,ORGANIZATION_TYPE_Industry: type 6,ORGANIZATION_TYPE_Industry: type 8,ORGANIZATION_TYPE_Industry: type 9,ORGANIZATION_TYPE_Insurance,ORGANIZATION_TYPE_Military,ORGANIZATION_TYPE_Realtor,ORGANIZATION_TYPE_Restaurant,ORGANIZATION_TYPE_Trade: type 1,ORGANIZATION_TYPE_Trade: type 2,ORGANIZATION_TYPE_Trade: type 4,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University
0,1,961146.0,28233.0,688500.0,0.025164,-12108,-2372,-2446.0,NaN,0,3.0,2,0,0,0,NaN,NaN,0.0,2.0,-1.0,NaN,NaN,NaN,6.674625,34.043354,0.041007,0.195904,1.384050e+11,2.713604e+10,6.617490e+11,28720176,NaN,NaN,199884.349347,692424.556171,NaN,NaN,392.946034,True,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,0,296280.0,16069.5,225000.0,0.007020,-17907,-1712,-10450.0,NaN,1,2.0,2,0,0,0,NaN,NaN,0.0,5.0,-212.0,NaN,NaN,NaN,2.862609,18.437412,0.071420,0.095605,3.066498e+10,4.761071e+09,6.666300e+10,30656784,NaN,NaN,360241.507727,85123.098282,NaN,NaN,28.352153,True,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,1,183694.5,11236.5,139500.0,0.006852,-15221,-553,-1056.0,NaN,0,2.0,3,0,0,1,NaN,0.389339,0.0,7.0,-428.0,0.0,1.0,1.0,1.020525,16.348018,0.080548,0.036331,3.306501e+10,2.064083e+09,2.562538e+10,8417213,NaN,NaN,510700.656970,64744.220975,462321.097841,70080.982532,173.953125,True,True,False,True,False,False,True,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False

In [56]:
# ライブラリの読み込み
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score

データを説明変数と目的変数に分割します。今回の目的変数は「TARGET」なので、それ以外が説明変数となります。

In [77]:
# @title デフォルトのタイトル テキスト
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from optuna import TrialPruned
import numpy as np
import gc
from itertools import combinations
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
def objective(trial, X, y, num_folds):
    params = {
        'n_estimators': trial.suggest_int('n_estimators', 100, 1000),
        'max_depth': trial.suggest_int('max_depth', 3, 10),
        'learning_rate': trial.suggest_float('learning_rate', 0.001, 0.1),
        'reg_alpha': trial.suggest_float('reg_alpha', 0.0, 10.0),
        'reg_lambda': trial.suggest_float('reg_lambda', 0.0, 10.0),
        'subsample': trial.suggest_float('subsample', 0.5, 1.0),
        'colsample_bytree': trial.suggest_float('colsample_bytree', 0.5, 1.0),
        'gamma': trial.suggest_float('gamma', 0.0, 5.0),
        'min_child_weight': trial.suggest_int('min_child_weight', 1, 20),
        'random_state': 13,
        "eval_metric": "auc",
        "use_label_encoder": False
    }

    kf = KFold(n_splits=num_folds, shuffle=True, random_state=13)
    oof_preds = np.zeros(len(X))
    intermediate_scores = []

    for fold, (train_idx, valid_idx) in enumerate(kf.split(X, y)):
        X_train, X_valid = X[train_idx], X[valid_idx]
        y_train, y_valid = y[train_idx], y[valid_idx]

        model = XGBClassifier(**params)
        model.fit(
            X_train, y_train,
            eval_set=[(X_valid, y_valid)],
            verbose=False
        )

        preds = model.predict_proba(X_valid)[:, 1]
        auc = roc_auc_score(y_valid, preds)
        oof_preds[valid_idx] = preds

        intermediate_scores.append(auc)
        # プルーニングの判定
        trial.report(np.mean(intermediate_scores), step=fold)
        if trial.should_prune():
            raise TrialPruned()

    final_auc = roc_auc_score(y, oof_preds)
    # print(f"Final AUC: {final_auc}")
    return final_auc

# Step 2: Tuning function (with resume capability)
def tune_xgboost(X, y, num_folds=5, n_trials=200, db_path="sqlite:///optuna_study.db", study_name="xgboost_tuning"):
    sample_frac = 0.3
    X, _, y, _ = train_test_split(X, y, train_size=sample_frac, random_state=42, stratify=y)
    # Use RDBStorage to save progress
    storage = optuna.storages.RDBStorage(url=db_path)
    study = optuna.create_study(
        study_name=study_name,
        direction='maximize',
        storage=storage,
        load_if_exists=True
    )

    # Optimize the study
    study.optimize(lambda trial: objective(trial, X, y, num_folds), n_trials=n_trials)

    # Output the best results
    print("Best trial:")
    trial = study.best_trial
    print(f"  Value: {trial.value}")
    print("  Params: ")
    for key, value in trial.params.items():
        print(f"    {key}: {value}")
    return trial.params

In [78]:
# 目的変数と説明変数に分割
X = train.values
y = train_target.iloc[:, 1].values
X_test = test.values

In [ ]:
best_params = tune_xgboost(X, y, num_folds=5, n_trials=100)

[I 2024-12-11 11:11:49,518] A new study created in RDB with name: xgboost_tuning
[I 2024-12-11 11:14:05,088] Trial 0 finished with value: 0.7428746289308784 and parameters: {'n_estimators': 760, 'max_depth': 6, 'learning_rate': 0.08729389424122128, 'reg_alpha': 4.444395434418582, 'reg_lambda': 3.431576260370991, 'subsample': 0.9317454824893387, 'colsample_bytree': 0.8227600991624533, 'gamma': 1.377146573530665, 'min_child_weight': 3}. Best is trial 0 with value: 0.7428746289308784.
[I 2024-12-11 11:14:38,922] Trial 1 finished with value: 0.7462657684644749 and parameters: {'n_estimators': 143, 'max_depth': 7, 'learning_rate': 0.08780350611053182, 'reg_alpha': 1.798404379446058, 'reg_lambda': 7.985536149370639, 'subsample': 0.7326932217614149, 'colsample_bytree': 0.6899855602476751, 'gamma': 3.8724183165698403, 'min_child_weight': 6}. Best is trial 1 with value: 0.7462657684644749.
[I 2024-12-11 11:18:39,991] Trial 2 finished with value: 0.746211065826645 and parameters: {'n_estimators': 586, 'max_depth': 9, 'learning_rate': 0.007376012313422458, 'reg_alpha': 0.3203223686644552, 'reg_lambda': 3.0320788701107224, 'subsample': 0.7420730998192772, 'colsample_bytree': 0.9643833851274723, 'gamma': 1.9601694149986337, 'min_child_weight': 1}. Best is trial 1 with value: 0.7462657684644749.
[I 2024-12-11 11:20:56,946] Trial 3 finished with value: 0.7448558549733147 and parameters: {'n_estimators': 807, 'max_depth': 9, 'learning_rate': 0.048377205309981186, 'reg_alpha': 0.3617007983509968, 'reg_lambda': 6.744689646703632, 'subsample': 0.8691583870348185, 'colsample_bytree': 0.9375629582618283, 'gamma': 4.047070249881566, 'min_child_weight': 6}. Best is trial 1 with value: 0.7462657684644749.
[I 2024-12-11 11:21:46,172] Trial 4 finished with value: 0.7444003998298967 and parameters: {'n_estimators': 201, 'max_depth': 6, 'learning_rate': 0.02343822003430195, 'reg_alpha': 4.322331519131818, 'reg_lambda': 0.6629210772798144, 'subsample': 0.8947371613586602, 'colsample_bytree': 0.5937806351520749, 'gamma': 1.750487657704265, 'min_child_weight': 5}. Best is trial 1 with value: 0.7462657684644749.
[I 2024-12-11 11:21:55,274] Trial 5 pruned.
[I 2024-12-11 11:23:29,237] Trial 6 finished with value: 0.7482259088571499 and parameters: {'n_estimators': 345, 'max_depth': 7, 'learning_rate': 0.01813042985685393, 'reg_alpha': 1.7693211612227788, 'reg_lambda': 1.3284593137010947, 'subsample': 0.6749433421643221, 'colsample_bytree': 0.6416854625156367, 'gamma': 2.219661458271806, 'min_child_weight': 7}. Best is trial 6 with value: 0.7482259088571499.
[I 2024-12-11 11:24:08,513] Trial 7 pruned.
[I 2024-12-11 11:24:40,573] Trial 8 finished with value: 0.7458395854647591 and parameters: {'n_estimators': 106, 'max_depth': 9, 'learning_rate': 0.052114121880041275, 'reg_alpha': 1.953150996102333, 'reg_lambda': 4.438654761679172, 'subsample': 0.7646686657527154, 'colsample_bytree': 0.7633537117028073, 'gamma': 3.9961605837995426, 'min_child_weight': 15}. Best is trial 6 with value: 0.7482259088571499.
[I 2024-12-11 11:24:54,342] Trial 9 pruned.
[I 2024-12-11 11:25:09,985] Trial 10 pruned.
[I 2024-12-11 11:26:11,862] Trial 11 finished with value: 0.7466241913046673 and parameters: {'n_estimators': 353, 'max_depth': 7, 'learning_rate': 0.09295741420695022, 'reg_alpha': 2.4040641040464474, 'reg_lambda': 8.067544670445097, 'subsample': 0.5847480631408787, 'colsample_bytree': 0.6708702422344335, 'gamma': 4.979648962510699, 'min_child_weight': 9}. Best is trial 6 with value: 0.7482259088571499.
[I 2024-12-11 11:27:28,394] Trial 12 finished with value: 0.74772074726378 and parameters: {'n_estimators': 450, 'max_depth': 7, 'learning_rate': 0.07409693505397129, 'reg_alpha': 2.6551185311915155, 'reg_lambda': 9.71940573359008, 'subsample': 0.5846369982439553, 'colsample_bytree': 0.6584809749715758, 'gamma': 4.9386122382572815, 'min_child_weight': 9}. Best is trial 6 with value: 0.7482259088571499.
[I 2024-12-11 11:27:46,935] Trial 13 pruned.
[I 2024-12-11 11:28:16,874] Trial 14 pruned.
[I 2024-12-11 11:29:14,770] Trial 15 finished with value: 0.7481882101164078 and parameters: {'n_estimators': 278, 'max_depth': 7, 'learning_rate': 0.03785629398428151, 'reg_alpha': 3.1749857540404554, 'reg_lambda': 1.5070562624236497, 'subsample': 0.6169179268246032, 'colsample_bytree': 0.7825991469221947, 'gamma': 4.8666570232744135, 'min_child_weight': 8}. Best is trial 6 with value: 0.7482259088571499.
[I 2024-12-11 11:29:58,004] Trial 16 pruned.
[I 2024-12-11 11:30:19,104] Trial 17 pruned.
[I 2024-12-11 11:31:10,066] Trial 18 finished with value: 0.7474891090767125 and parameters: {'n_estimators': 263, 'max_depth': 5, 'learning_rate': 0.04221580306449159, 'reg_alpha': 1.318731921854344, 'reg_lambda': 2.9096783465821594, 'subsample': 0.9857960079580406, 'colsample_bytree': 0.7419410426621025, 'gamma': 3.0891960611025286, 'min_child_weight': 12}. Best is trial 6 with value: 0.7482259088571499.
[I 2024-12-11 11:33:40,859] Trial 19 finished with value: 0.7483187521275945 and parameters: {'n_estimators': 673, 'max_depth': 8, 'learning_rate': 0.017450447514535974, 'reg_alpha': 8.965722490866913, 'reg_lambda': 0.1530952952252813, 'subsample': 0.5989755974596309, 'colsample_bytree': 0.8581862489642736, 'gamma': 2.5293830472379395, 'min_child_weight': 8}. Best is trial 19 with value: 0.7483187521275945.
[I 2024-12-11 11:36:11,965] Trial 20 finished with value: 0.7485092330675873 and parameters: {'n_estimators': 678, 'max_depth': 8, 'learning_rate': 0.017897294170579656, 'reg_alpha': 8.575350769800593, 'reg_lambda': 0.046889880892405644, 'subsample': 0.6948580292748423, 'colsample_bytree': 0.8737891690632412, 'gamma': 2.691364899924374, 'min_child_weight': 15}. Best is trial 20 with value: 0.7485092330675873.
[I 2024-12-11 11:38:49,453] Trial 21 finished with value: 0.7482778809608072 and parameters: {'n_estimators': 702, 'max_depth': 8, 'learning_rate': 0.015088321708088635, 'reg_alpha': 8.619953444153355, 'reg_lambda': 0.22192677413611955, 'subsample': 0.6770359687969527, 'colsample_bytree': 0.896761792332387, 'gamma': 2.6008270730104197, 'min_child_weight': 16}. Best is trial 20 with value: 0.7485092330675873.
[I 2024-12-11 11:41:28,910] Trial 22 finished with value: 0.7474380054310708 and parameters: {'n_estimators': 718, 'max_depth': 8, 'learning_rate': 0.011191560587721416, 'reg_alpha': 9.051204600986237, 'reg_lambda': 0.07957679748196694, 'subsample': 0.7731953989315612, 'colsample_bytree': 0.8820337699520061, 'gamma': 2.6884909587980697, 'min_child_weight': 18}. Best is trial 20 with value: 0.7485092330675873.
[I 2024-12-11 11:42:03,694] Trial 23 pruned.
[I 2024-12-11 11:44:59,231] Trial 24 finished with value: 0.7485522651622604 and parameters: {'n_estimators': 871, 'max_depth': 8, 'learning_rate': 0.013895899920197479, 'reg_alpha': 8.15966686055823, 'reg_lambda': 0.9288915229775998, 'subsample': 0.5647540305606674, 'colsample_bytree': 0.9491111112437023, 'gamma': 3.502835908523765, 'min_child_weight': 17}. Best is trial 24 with value: 0.7485522651622604.
[I 2024-12-11 11:47:33,715] Trial 25 finished with value: 0.7484106911799873 and parameters: {'n_estimators': 849, 'max_depth': 8, 'learning_rate': 0.02769015158495209, 'reg_alpha': 7.7277756791742505, 'reg_lambda': 2.591319415153916, 'subsample': 0.5561412595342716, 'colsample_bytree': 0.9974037004620184, 'gamma': 3.582288181739386, 'min_child_weight': 20}. Best is trial 24 with value: 0.7485522651622604.
[I 2024-12-11 11:50:09,189] Trial 26 finished with value: 0.7485287325043258 and parameters: {'n_estimators': 886, 'max_depth': 10, 'learning_rate': 0.028436408377679436, 'reg_alpha': 7.68039626341727, 'reg_lambda': 3.8189886265219126, 'subsample': 0.5440516421487194, 'colsample_bytree': 0.9955794335867708, 'gamma': 3.608272930162235, 'min_child_weight': 20}. Best is trial 24 with value: 0.7485522651622604.
[I 2024-12-11 11:52:43,759] Trial 27 finished with value: 0.7472508271858256 and parameters: {'n_estimators': 933, 'max_depth': 10, 'learning_rate': 0.027896128925223564, 'reg_alpha': 9.839620983333266, 'reg_lambda': 1.0281892134410366, 'subsample': 0.5537005255363547, 'colsample_bytree': 0.9388937553261407, 'gamma': 4.440853544048394, 'min_child_weight': 17}. Best is trial 24 with value: 0.7485522651622604.
[I 2024-12-11 11:55:46,990] Trial 28 finished with value: 0.7475476457012524 and parameters: {'n_estimators': 887, 'max_depth': 10, 'learning_rate': 0.009549499829739586, 'reg_alpha': 7.417152305375733, 'reg_lambda': 3.7363960902823488, 'subsample': 0.5010448192902173, 'colsample_bytree': 0.9950316489325296, 'gamma': 3.5178603101573938, 'min_child_weight': 20}. Best is trial 24 with value: 0.7485522651622604.
[I 2024-12-11 11:56:23,328] Trial 29 pruned.
[I 2024-12-11 11:59:02,608] Trial 30 finished with value: 0.7490187676024945 and parameters: {'n_estimators': 999, 'max_depth': 6, 'learning_rate': 0.031153912965039464, 'reg_alpha': 5.674383463350078, 'reg_lambda': 2.209485366631032, 'subsample': 0.6393600399797299, 'colsample_bytree': 0.9202910783409192, 'gamma': 4.550985399682768, 'min_child_weight': 13}. Best is trial 30 with value: 0.7490187676024945.
[I 2024-12-11 12:01:37,367] Trial 31 finished with value: 0.7490590078600764 and parameters: {'n_estimators': 976, 'max_depth': 6, 'learning_rate': 0.030477368454219864, 'reg_alpha': 5.4599737893952405, 'reg_lambda': 2.357020775347408, 'subsample': 0.6362310019272862, 'colsample_bytree': 0.9168767979411814, 'gamma': 4.455456114085901, 'min_child_weight': 13}. Best is trial 31 with value: 0.7490590078600764.
[I 2024-12-11 12:04:17,687] Trial 32 finished with value: 0.7492106023152764 and parameters: {'n_estimators': 994, 'max_depth': 6, 'learning_rate': 0.03228068820522567, 'reg_alpha': 5.015699322204008, 'reg_lambda': 2.3152537281509087, 'subsample': 0.6443268428081423, 'colsample_bytree': 0.916131520317385, 'gamma': 4.5128518055754085, 'min_child_weight': 14}. Best is trial 32 with value: 0.7492106023152764.
[I 2024-12-11 12:06:50,742] Trial 33 finished with value: 0.7488336276792977 and parameters: {'n_estimators': 987, 'max_depth': 6, 'learning_rate': 0.045130996374473466, 'reg_alpha': 4.633167886279955, 'reg_lambda': 2.390259304443193, 'subsample': 0.6322392941892464, 'colsample_bytree': 0.9059320903493201, 'gamma': 4.480625858925596, 'min_child_weight': 13}. Best is trial 32 with value: 0.7492106023152764.
[I 2024-12-11 12:07:56,248] Trial 34 pruned.
[I 2024-12-11 12:10:17,246] Trial 35 finished with value: 0.7495861082354934 and parameters: {'n_estimators': 944, 'max_depth': 5, 'learning_rate': 0.05437279225349467, 'reg_alpha': 4.568593372478695, 'reg_lambda': 2.3410497867968854, 'subsample': 0.7277899073990038, 'colsample_bytree': 0.8267437917923162, 'gamma': 4.598873227582528, 'min_child_weight': 13}. Best is trial 35 with value: 0.7495861082354934.
[I 2024-12-11 12:10:44,531] Trial 36 pruned.
[I 2024-12-11 12:11:07,024] Trial 37 pruned.
[I 2024-12-11 12:13:28,969] Trial 38 finished with value: 0.7491557004429606 and parameters: {'n_estimators': 938, 'max_depth': 5, 'learning_rate': 0.033237342747904124, 'reg_alpha': 5.418494242537665, 'reg_lambda': 5.693384364568827, 'subsample': 0.7241271829155207, 'colsample_bytree': 0.7895115654773901, 'gamma': 4.680900330595182, 'min_child_weight': 11}. Best is trial 35 with value: 0.7495861082354934.
[I 2024-12-11 12:15:45,275] Trial 39 finished with value: 0.7497966633270879 and parameters: {'n_estimators': 932, 'max_depth': 4, 'learning_rate': 0.061195426572763466, 'reg_alpha': 4.251818487444066, 'reg_lambda': 5.925757879783386, 'subsample': 0.719516740851575, 'colsample_bytree': 0.8038110661251674, 'gamma': 3.9982035872608974, 'min_child_weight': 14}. Best is trial 39 with value: 0.7497966633270879.
[I 2024-12-11 12:17:47,732] Trial 40 finished with value: 0.7492511516417402 and parameters: {'n_estimators': 776, 'max_depth': 4, 'learning_rate': 0.06103110634150568, 'reg_alpha': 4.059324338857279, 'reg_lambda': 6.446915779112012, 'subsample': 0.7092523881992053, 'colsample_bytree': 0.79099396562245, 'gamma': 3.969420297129841, 'min_child_weight': 11}. Best is trial 39 with value: 0.7497966633270879.
[I 2024-12-11 12:20:04,591] Trial 41 finished with value: 0.7494827310801772 and parameters: {'n_estimators': 930, 'max_depth': 4, 'learning_rate': 0.06160468342010446, 'reg_alpha': 4.1841164676044045, 'reg_lambda': 6.414494016340047, 'subsample': 0.7216367729813797, 'colsample_bytree': 0.7042371181475205, 'gamma': 3.9222214352498375, 'min_child_weight': 11}. Best is trial 39 with value: 0.7497966633270879.
[I 2024-12-11 12:22:04,211] Trial 42 finished with value: 0.7499542194911363 and parameters: {'n_estimators': 775, 'max_depth': 4, 'learning_rate': 0.059967058989802736, 'reg_alpha': 4.252608756868103, 'reg_lambda': 6.872086297579257, 'subsample': 0.7146820344108187, 'colsample_bytree': 0.7295963801421386, 'gamma': 3.9044476288195145, 'min_child_weight': 10}. Best is trial 42 with value: 0.7499542194911363.
[I 2024-12-11 12:24:00,982] Trial 43 finished with value: 0.7498183824403429 and parameters: {'n_estimators': 748, 'max_depth': 4, 'learning_rate': 0.05922461817970143, 'reg_alpha': 4.038009566653167, 'reg_lambda': 6.936919463181201, 'subsample': 0.7159274124729054, 'colsample_bytree': 0.7304608930116514, 'gamma': 3.7567404743773065, 'min_child_weight': 10}. Best is trial 42 with value: 0.7499542194911363.
[I 2024-12-11 12:25:50,855] Trial 44 finished with value: 0.7497154522854759 and parameters: {'n_estimators': 745, 'max_depth': 3, 'learning_rate': 0.06464855377904291, 'reg_alpha': 4.3846319325618595, 'reg_lambda': 7.465144373301556, 'subsample': 0.7551364114513793, 'colsample_bytree': 0.7089263007014216, 'gamma': 3.7763019674888247, 'min_child_weight': 10}. Best is trial 42 with value: 0.7499542194911363.
[I 2024-12-11 12:27:12,560] Trial 45 finished with value: 0.7490684178581043 and parameters: {'n_estimators': 535, 'max_depth': 3, 'learning_rate': 0.07741960501208218, 'reg_alpha': 2.9437153454010843, 'reg_lambda': 7.608001053431181, 'subsample': 0.7583524618673623, 'colsample_bytree': 0.7133849650234482, 'gamma': 4.201648432496174, 'min_child_weight': 9}. Best is trial 42 with value: 0.7499542194911363.
[I 2024-12-11 12:29:04,651] Trial 46 finished with value: 0.7493499668381862 and parameters: {'n_estimators': 743, 'max_depth': 3, 'learning_rate': 0.065996291857718, 'reg_alpha': 4.639666575704644, 'reg_lambda': 7.335671121140956, 'subsample': 0.7940906775305214, 'colsample_bytree': 0.7601606063436155, 'gamma': 3.802226986525241, 'min_child_weight': 10}. Best is trial 42 with value: 0.7499542194911363.
[I 2024-12-11 12:31:00,255] Trial 47 finished with value: 0.7484275520369315 and parameters: {'n_estimators': 796, 'max_depth': 4, 'learning_rate': 0.05491445104583542, 'reg_alpha': 3.632489947037362, 'reg_lambda': 8.33553211452859, 'subsample': 0.8387404688734884, 'colsample_bytree': 0.6936809430664198, 'gamma': 3.7700040440315394, 'min_child_weight': 10}. Best is trial 42 with value: 0.7499542194911363.
[I 2024-12-11 12:33:05,343] Trial 48 finished with value: 0.7493887383800062 and parameters: {'n_estimators': 830, 'max_depth': 3, 'learning_rate': 0.08177580328467066, 'reg_alpha': 6.313995109886038, 'reg_lambda': 5.6704061682337805, 'subsample': 0.7824135828982476, 'colsample_bytree': 0.7358632558577753, 'gamma': 3.2372383904307966, 'min_child_weight': 6}. Best is trial 42 with value: 0.7499542194911363.
[I 2024-12-11 12:34:35,946] Trial 49 finished with value: 0.7488525498468848 and parameters: {'n_estimators': 589, 'max_depth': 4, 'learning_rate': 0.06638934698965339, 'reg_alpha': 2.665207644997326, 'reg_lambda': 7.234330560437828, 'subsample': 0.8121354080349162, 'colsample_bytree': 0.6736957397872779, 'gamma': 4.245462178145971, 'min_child_weight': 8}. Best is trial 42 with value: 0.7499542194911363.
[I 2024-12-11 12:34:56,369] Trial 50 pruned.
[I 2024-12-11 12:35:50,035] Trial 51 pruned.
[I 2024-12-11 12:36:42,763] Trial 52 pruned.
[I 2024-12-11 12:38:47,531] Trial 53 finished with value: 0.749903527085908 and parameters: {'n_estimators': 812, 'max_depth': 3, 'learning_rate': 0.05661897737693926, 'reg_alpha': 5.060646154052812, 'reg_lambda': 6.680960214487941, 'subsample': 0.746653273518361, 'colsample_bytree': 0.7653924188161558, 'gamma': 3.709636262654855, 'min_child_weight': 11}. Best is trial 42 with value: 0.7499542194911363.
[I 2024-12-11 12:40:50,266] Trial 54 finished with value: 0.7500286463430734 and parameters: {'n_estimators': 817, 'max_depth': 3, 'learning_rate': 0.05713481625531586, 'reg_alpha': 3.283226532077656, 'reg_lambda': 6.901439623258103, 'subsample': 0.7452215583623678, 'colsample_bytree': 0.7707428734108978, 'gamma': 3.684570797120332, 'min_child_weight': 14}. Best is trial 54 with value: 0.7500286463430734.
[I 2024-12-11 12:42:45,193] Trial 55 finished with value: 0.7496970052155092 and parameters: {'n_estimators': 725, 'max_depth': 3, 'learning_rate': 0.04808702875664041, 'reg_alpha': 2.315775408905302, 'reg_lambda': 6.953716707459105, 'subsample': 0.7529239078867986, 'colsample_bytree': 0.772597529855986, 'gamma': 3.3170877504395744, 'min_child_weight': 7}. Best is trial 54 with value: 0.7500286463430734.
[I 2024-12-11 12:44:20,807] Trial 56 finished with value: 0.7482635565121263 and parameters: {'n_estimators': 651, 'max_depth': 3, 'learning_rate': 0.07101824118492249, 'reg_alpha': 3.264235868509084, 'reg_lambda': 8.561472460156873, 'subsample': 0.8865836295620699, 'colsample_bytree': 0.7519958674979013, 'gamma': 3.7406737959476835, 'min_child_weight': 14}. Best is trial 54 with value: 0.7500286463430734.
[I 2024-12-11 12:46:27,409] Trial 57 finished with value: 0.7488421896536163 and parameters: {'n_estimators': 830, 'max_depth': 3, 'learning_rate': 0.05684505780990231, 'reg_alpha': 5.02236997963583, 'reg_lambda': 7.816281047444187, 'subsample': 0.703259725534853, 'colsample_bytree': 0.7302952911169044, 'gamma': 2.877513189793652, 'min_child_weight': 9}. Best is trial 54 with value: 0.7500286463430734.
[I 2024-12-11 12:46:52,681] Trial 58 pruned.
[I 2024-12-11 12:47:16,255] Trial 59 pruned.
[I 2024-12-11 12:49:13,325] Trial 60 finished with value: 0.7495718450897313 and parameters: {'n_estimators': 749, 'max_depth': 3, 'learning_rate': 0.057284936460386744, 'reg_alpha': 6.065201585932146, 'reg_lambda': 5.285253491231342, 'subsample': 0.8116284266232301, 'colsample_bytree': 0.7662924522842509, 'gamma': 2.136721266798647, 'min_child_weight': 10}. Best is trial 54 with value: 0.7500286463430734.
[I 2024-12-11 12:50:50,177] Trial 61 finished with value: 0.7504356926149864 and parameters: {'n_estimators': 625, 'max_depth': 3, 'learning_rate': 0.051151683110662566, 'reg_alpha': 2.5636916289607576, 'reg_lambda': 6.894373540615878, 'subsample': 0.7499584583311859, 'colsample_bytree': 0.7769338267922302, 'gamma': 3.6778063980918563, 'min_child_weight': 4}. Best is trial 61 with value: 0.7504356926149864.
[I 2024-12-11 12:51:28,785] Trial 62 pruned.
[I 2024-12-11 12:52:02,899] Trial 63 pruned.
[I 2024-12-11 12:53:54,898] Trial 64 finished with value: 0.7500527179558355 and parameters: {'n_estimators': 671, 'max_depth': 4, 'learning_rate': 0.04054002590381896, 'reg_alpha': 1.2616173839467426, 'reg_lambda': 7.504041507237045, 'subsample': 0.7116825931149459, 'colsample_bytree': 0.7734623700113685, 'gamma': 4.147965341313174, 'min_child_weight': 16}. Best is trial 61 with value: 0.7504356926149864.

In [ ]:
test_preds

In [ ]:
import optuna
from optuna.samplers import TPESampler
import xgboost as xgb
from sklearn.metrics import roc_auc_score
import time
from sklearn.model_selection import StratifiedKFold
from catboost import CatBoostClassifier
import copy
# 再現性確保のためのシード値設定
SEED = 13


def evaluate(low_threshold, high_threshold):
    row = copy.copy(oof_predictions)
    row[row < low_threshold] = 0
    row[row >= high_threshold] = 1
    return roc_auc_score(train_target.iloc[:, 1].values, row)



def objective(trial):
    low_threshold = trial.suggest_float('low_threshold', 0.0, 1.0)
    high_threshold = trial.suggest_float('high_threshold', 0.0, 1.0)
    if low_threshold >= high_threshold:
        return 0.0
    return evaluate(low_threshold, high_threshold)

# Optunaによる最適化（TPESamplerでシード固定）
study = optuna.create_study(direction='maximize', sampler=TPESampler(seed=SEED))
study.optimize(objective, n_trials=100)

best_trial = study.best_trial
print("Best Score:", best_trial.value)
print("Best Feature Set:")
best_features = [k for k, v in best_trial.params.items() if v is True]
print(best_features)

In [ ]:
test_preds[test_preds < best_trial.params["low_threshold"]] = 0
test_preds[test_preds >= best_trial.params["high_threshold"]] =1

In [ ]:
# 予測結果を提出用のフォーマットに格納
sample_sub['TARGET'] = test_preds
sample_sub

In [ ]:
# 提出用のcsvファイルを作成
sample_sub.to_csv('GCI-コンペ２_009.csv',index=False)

以上で、Home Credit Default Riskコンペのチュートリアルは終了です。今回は、50種類ある特徴量のうち5種類しか使用していないので、まだまだ改善の余地があります。この後は、このnotebookやこれまでの教材を参考にして、さらなるスコアの向上を目指してください！

In [ ]:
train

In [ ]:
train["oof_predictions"] = oof_predictions

In [ ]:
train

In [ ]:

# 'TARGET' 列が存在しない場合は追加
if 'TARGET' not in train.columns:
    train['TARGET'] = y  # y が NumPy 配列または Pandas Series であることを確認

# 'oof_predictions' 列が存在しない場合は追加
if 'oof_predictions' not in train.columns:
    train['oof_predictions'] = oof_predictions  # oof_predictions が予測値の配列であることを確認


# 可視化1: TARGETごとのoof_predictions分布を箱ひげ図で可視化
plt.figure(figsize=(8, 6))
sns.boxplot(x='TARGET', y='oof_predictions', data=train)
plt.title('TARGET ごとの oof_predictions の箱ひげ図')
plt.xlabel('TARGET')
plt.ylabel('oof_predictions')
plt.show()

# 可視化2: TARGETごとのoof_predictions分布をヒストグラム＋カーネル密度推定で可視化
plt.figure(figsize=(8, 6))
sns.histplot(data=train, x='oof_predictions', hue='TARGET', kde=True, stat='probability', common_norm=False)
plt.title('TARGET ごとの oof_predictions のヒストグラムとカーネル密度推定')
plt.xlabel('oof_predictions')
plt.ylabel('割合')
plt.show()

# 可視化3: TARGETとoof_predictionsの相関を散布図で可視化
plt.figure(figsize=(8, 6))
sns.stripplot(x='TARGET', y='oof_predictions', data=train, jitter=True, alpha=0.5)
plt.title('TARGET と oof_predictions の散布図')
plt.xlabel('TARGET')
plt.ylabel('oof_predictions')
plt.show()

In [ ]:
train[list(best_features)].to_csv("train_008.csv")
test[list(best_features)].to_csv("test_008.csv")