<a href="https://colab.research.google.com/github/hikaru122700/kaggle-pub/blob/GCI-%E3%82%B3%E3%83%B3%E3%83%9A%EF%BC%92-Home-Credit/010_cat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Home Credit Default Risk
このnotebookでは、予測結果を作成するまでの流れと基本的な手法についての紹介を行います。


まずは、今回のタスクについて確認しましょう（詳細はREADME.ipynbをご覧ください）。
- **目的**： 顧客データから債務不履行になる確率を予測する。
- **評価指標**： AUC（Area Under the Curve）

## 目次
0. ライブラリ・データの読み込み
1. データの可視化と分析
2. 前処理と特徴量作成
3. 機械学習モデルの作成
4. 予測結果の作成

## 0. ライブラリ・データの読み込み

基本的なライブラリを読み込みます。
他の必要なライブラリについては、説明をする際に読み込みます。
- numpy：数値計算を効率的に行うライブラリ
- pandas：データ分析に便利なライブラリ
- matplotlib：グラフ描画ライブラリ
- seaborn：グラフ描画ライブラリ

In [1]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install optuna
!pip install catboost

Collecting optuna
  Downloading optuna-4.1.0-py3-none-any.whl.metadata (16 kB)
Collecting alembic>=1.5.0 (from optuna)
  Downloading alembic-1.14.0-py3-none-any.whl.metadata (7.4 kB)
Collecting colorlog (from optuna)
  Downloading colorlog-6.9.0-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from optuna) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from optuna) (24.2)
Requirement already satisfied: sqlalchemy>=1.4.2 in /usr/local/lib/python3.10/dist-packages (from optuna) (2.0.36)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from optuna) (4.66.6)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from optuna) (6.0.2)
Collecting Mako (from alembic>=1.5.0->optuna)
  Downloading Mako-1.3.8-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: typing-extensions>=4 in /usr/local/lib/python3.10/dist-packages (from alembic>=1.5.0->optuna) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=1.4.2->optuna) (3.1.1)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.10/dist-packages (from Mako->alembic>=1.5.0->optuna) (3.0.2)
Downloading optuna-4.1.0-py3-none-any.whl (364 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 364.4/364.4 kB 7.3 MB/s eta 0:00:00
Downloading alembic-1.14.0-py3-none-any.whl (233 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.5/233.5 kB 16.8 MB/s eta 0:00:00
Downloading colorlog-6.9.0-py3-none-any.whl (11 kB)
Downloading Mako-1.3.8-py3-none-any.whl (78 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.6/78.6 kB 7.2 MB/s eta 0:00:00
Installing collected packages: Mako, colorlog, alembic, optuna
Successfully installed Mako-1.3.8 alembic-1.14.0 colorlog-6.9.0 optuna-4.1.0
Collecting catboost
  Downloading catboost-1.2.7-cp310-cp310-manylinux2014_x86_64.whl.metadata (1.2 kB)
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.8.0)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.13.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.55.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.2.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (9.0.0)
Downloading catboost-1.2.7-cp310-cp310-manylinux2014_x86_64.whl (98.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.7/98.7 MB 7.0 MB/s eta 0:00:00
Installing collected packages: catboost
Successfully installed catboost-1.2.7

In [3]:
# ライブラリの読み込み
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.metrics import mean_squared_log_error
from sklearn.model_selection import KFold
from itertools import combinations
import gc

from sklearn.model_selection import KFold
from sklearn.metrics import *
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
import matplotlib.pyplot as plt
import gc
gc.collect()
import optuna
import matplotlib.pyplot as plt

warnings.filterwarnings('ignore')

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
from sklearn.metrics import log_loss
import time

/usr/local/lib/python3.10/dist-packages/dask/dataframe/__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

In [4]:

# すべての列を表示するように設定
pd.set_option('display.max_columns', None)

必要なデータの読み込みを行います。GCIの教材フォルダの構成を想定して、読み込んでいます。

In [5]:
# データの読み込み
# INPUT_DIRにtrain.csvなどのデータを置いているディレクトリを指定してください。

path  = "/content/drive/My Drive/松尾研/GCI/コンペ２/"

train = pd.read_csv(path + "train_008.csv")
test = pd.read_csv(path + "test_008.csv")
sample_sub = pd.read_csv(path + "sample_submission.csv")

In [6]:
train_target = pd.read_csv(path + "train.csv")
train_target

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,0,0,Cash loans,F,N,N,0,112500.0,755190.0,36328.5,675000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.010032,-9233,-878,-333.0,-522,NaN,1,1,1,1,0,0,Core staff,2.0,2,2,0,1,1,0,1,1,School,NaN,0.372591,NaN,0.0,0.0,0.0,0.0,-292.0,NaN,NaN,NaN,NaN
1,1,0,Cash loans,F,N,Y,0,225000.0,585000.0,16893.0,585000.0,Unaccompanied,Pensioner,Secondary / secondary special,Married,House / apartment,0.008019,-20148,365243,-4469.0,-3436,NaN,1,0,0,1,0,0,NaN,2.0,2,2,0,0,0,0,0,0,XNA,NaN,0.449567,0.553165,0.0,0.0,0.0,0.0,-617.0,0.0,0.0,0.0,1.0
2,2,0,Cash loans,F,N,Y,0,54000.0,334152.0,18256.5,270000.0,Family,State servant,Secondary / secondary special,Married,House / apartment,0.004960,-18496,-523,-3640.0,-2050,NaN,1,1,1,1,1,0,Core staff,2.0,2,2,0,0,0,0,0,0,Postal,NaN,0.569503,NaN,4.0,0.0,4.0,0.0,-542.0,NaN,NaN,NaN,NaN
3,3,0,Cash loans,F,N,Y,0,67500.0,152820.0,8901.0,135000.0,Children,Pensioner,Lower secondary,Widow,House / apartment,0.005002,-24177,365243,-4950.0,-3951,NaN,1,0,0,1,1,0,NaN,1.0,3,3,0,0,0,0,0,0,XNA,NaN,0.105235,0.767523,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1,Cash loans,M,N,N,0,157500.0,271066.5,21546.0,234000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,With parents,0.006296,-10685,-697,-5101.0,-3226,NaN,1,1,1,1,0,0,Drivers,2.0,3,3,0,0,0,0,1,1,Business Entity Type 3,0.342344,0.202490,0.669057,0.0,0.0,0.0,0.0,-1243.0,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171197,171197,0,Cash loans,M,NaN,NaN,0,83250.0,404325.0,20772.0,337500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.031329,-20529,-3059,-11581.0,-3689,21.0,1,1,1,1,0,0,Laborers,2.0,2,2,0,0,0,0,1,1,Agriculture,NaN,0.404560,0.768808,0.0,0.0,0.0,0.0,-2341.0,0.0,0.0,1.0,0.0
171198,171198,0,Cash loans,F,Y,Y,0,247500.0,601470.0,29065.5,450000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010006,-22083,-129,-4629.0,-1773,1.0,1,1,0,1,0,0,Cooking staff,1.0,2,1,0,0,0,0,0,0,Industry: type 3,NaN,0.608542,NaN,0.0,0.0,0.0,0.0,-1688.0,0.0,0.0,1.0,5.0
171199,171199,0,Cash loans,F,N,N,2,292500.0,1237684.5,49216.5,1138500.0,Unaccompanied,State servant,Higher education,Married,House / apartment,0.006629,-11053,-2536,-4858.0,-3393,NaN,1,1,0,1,0,1,Core staff,4.0,2,2,0,0,0,0,0,0,School,NaN,0.664305,0.758393,2.0,1.0,2.0,1.0,-515.0,0.0,0.0,0.0,1.0
171200,171200,0,Cash loans,M,Y,N,0,112500.0,239850.0,25186.5,225000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,0.009657,-8505,-165,-3318.0,-1176,7.0,1,1,0,1,0,0,Sales staff,1.0,2,2,0,0,0,1,1,0,Business Entity Type 3,0.210918,0.627050,NaN,0.0,0.0,0.0,0.0,-1133.0,NaN,NaN,NaN,NaN
171201,171201,0,Cash loans,F,NaN,NaN,0,108000.0,161730.0,8595.0,135000.0,Family,Working,Secondary / secondary special,Single / not married,House / apartment,0.007305,-17925,-5209,-2411.0,-1473,NaN,1,1,1,1,1,0,Core staff,1.0,3,3,0,0,0,0,0,0,Kindergarten,NaN,0.517986,0.382502,0.0,0.0,0.0,0.0,-220.0,0.0,0.0,0.0,1.0

In [7]:
train.drop("Unnamed: 0", axis=1, inplace=True)
test.drop("Unnamed: 0", axis=1, inplace=True)

## 1. データの可視化と分析

### 1.1 データの概観
本格的な分析を行う前に、まずは簡単にデータの概観を確認します。

In [8]:
# trainデータの確認
print(f"train shape: {train.shape}")
train.head(3)

train shape: (171202, 104)

,CNT_CHILDREN,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,OWN_CAR_AGE,FLAG_WORK_PHONE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,REG_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_3,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,CREDIT_INCOME_RATIO,CREDIT_ANNUITY_RATIO,ANNUITY_GOODS_RATIO,EMPLOYED_BIRTH_RATIO,CREDIT_INCOME_PRODUCT,CREDIT_ANNUITY_PRODUCT,CREDIT_GOODS_PRODUCT,EMPLOYED_BIRTH_PRODUCT,CREDIT_EXT_SOURCE_1_PRODUCT,INCOME_EXT_SOURCE_1_PRODUCT,INCOME_EXT_SOURCE_2_RATIO,CREDIT_EXT_SOURCE_2_PRODUCT,INCOME_EXT_SOURCE_3_RATIO,INCOME_EXT_SOURCE_3_PRODUCT,CREDIT_REGISTRATION_RATIO,NAME_CONTRACT_TYPE_Cash loans,CODE_GENDER_F,CODE_GENDER_XNA,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_B,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Maternity leave,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Unemployed,NAME_EDUCATION_TYPE_Academic degree,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Lower secondary,NAME_FAMILY_STATUS_Civil marriage,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Widow,NAME_HOUSING_TYPE_Co-op apartment,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,OCCUPATION_TYPE_Accountants,OCCUPATION_TYPE_Cooking staff,OCCUPATION_TYPE_Drivers,OCCUPATION_TYPE_High skill tech staff,OCCUPATION_TYPE_IT staff,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff,ORGANIZATION_TYPE_Bank,ORGANIZATION_TYPE_Business Entity Type 1,ORGANIZATION_TYPE_Cleaning,ORGANIZATION_TYPE_Culture,ORGANIZATION_TYPE_Electricity,ORGANIZATION_TYPE_Housing,ORGANIZATION_TYPE_Industry: type 10,ORGANIZATION_TYPE_Industry: type 11,ORGANIZATION_TYPE_Industry: type 2,ORGANIZATION_TYPE_Industry: type 3,ORGANIZATION_TYPE_Industry: type 4,ORGANIZATION_TYPE_Industry: type 5,ORGANIZATION_TYPE_Industry: type 6,ORGANIZATION_TYPE_Industry: type 8,ORGANIZATION_TYPE_Industry: type 9,ORGANIZATION_TYPE_Insurance,ORGANIZATION_TYPE_Military,ORGANIZATION_TYPE_Realtor,ORGANIZATION_TYPE_Restaurant,ORGANIZATION_TYPE_Trade: type 1,ORGANIZATION_TYPE_Trade: type 2,ORGANIZATION_TYPE_Trade: type 4,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University
0,0,755190.0,36328.5,675000.0,0.010032,-9233,-878,-333.0,NaN,1,2.0,2,0,1,1,NaN,NaN,0.0,0.0,-292.0,NaN,NaN,NaN,6.7128,20.787811,0.053820,0.095094,8.495888e+10,2.743492e+10,5.097532e+11,8106574,NaN,NaN,301939.131163,281376.735276,NaN,NaN,2267.837831,True,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,0,585000.0,16893.0,585000.0,0.008019,-20148,365243,-4469.0,NaN,0,2.0,2,0,0,0,NaN,0.553165,0.0,0.0,-617.0,0.0,0.0,0.0,2.6000,34.629728,0.028877,-18.128003,1.316250e+11,9.882405e+09,3.422250e+11,-7358915964,NaN,NaN,500480.552704,262996.646938,406749.732494,124462.057223,130.901768,True,True,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,0,334152.0,18256.5,270000.0,0.004960,-18496,-523,-3640.0,NaN,1,2.0,2,0,0,0,NaN,NaN,0.0,4.0,-542.0,NaN,NaN,NaN,6.1880,18.303180,0.067617,0.028276,1.804421e+10,6.100446e+09,9.022104e+10,9673408,NaN,NaN,94819.293500,190300.683015,NaN,NaN,91.800000,True,True,False,True,False,False,True,False,True,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
# testデータの確認
print(f"test shape: {test.shape}")
test.head(3)

test shape: (61500, 104)

,CNT_CHILDREN,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,OWN_CAR_AGE,FLAG_WORK_PHONE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,REG_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_3,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,CREDIT_INCOME_RATIO,CREDIT_ANNUITY_RATIO,ANNUITY_GOODS_RATIO,EMPLOYED_BIRTH_RATIO,CREDIT_INCOME_PRODUCT,CREDIT_ANNUITY_PRODUCT,CREDIT_GOODS_PRODUCT,EMPLOYED_BIRTH_PRODUCT,CREDIT_EXT_SOURCE_1_PRODUCT,INCOME_EXT_SOURCE_1_PRODUCT,INCOME_EXT_SOURCE_2_RATIO,CREDIT_EXT_SOURCE_2_PRODUCT,INCOME_EXT_SOURCE_3_RATIO,INCOME_EXT_SOURCE_3_PRODUCT,CREDIT_REGISTRATION_RATIO,NAME_CONTRACT_TYPE_Cash loans,CODE_GENDER_F,CODE_GENDER_XNA,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_B,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Maternity leave,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Unemployed,NAME_EDUCATION_TYPE_Academic degree,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Lower secondary,NAME_FAMILY_STATUS_Civil marriage,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Widow,NAME_HOUSING_TYPE_Co-op apartment,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,OCCUPATION_TYPE_Accountants,OCCUPATION_TYPE_Cooking staff,OCCUPATION_TYPE_Drivers,OCCUPATION_TYPE_High skill tech staff,OCCUPATION_TYPE_IT staff,OCCUPATION_TYPE_Low-skill Laborers,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Security staff,OCCUPATION_TYPE_Waiters/barmen staff,ORGANIZATION_TYPE_Bank,ORGANIZATION_TYPE_Business Entity Type 1,ORGANIZATION_TYPE_Cleaning,ORGANIZATION_TYPE_Culture,ORGANIZATION_TYPE_Electricity,ORGANIZATION_TYPE_Housing,ORGANIZATION_TYPE_Industry: type 10,ORGANIZATION_TYPE_Industry: type 11,ORGANIZATION_TYPE_Industry: type 2,ORGANIZATION_TYPE_Industry: type 3,ORGANIZATION_TYPE_Industry: type 4,ORGANIZATION_TYPE_Industry: type 5,ORGANIZATION_TYPE_Industry: type 6,ORGANIZATION_TYPE_Industry: type 8,ORGANIZATION_TYPE_Industry: type 9,ORGANIZATION_TYPE_Insurance,ORGANIZATION_TYPE_Military,ORGANIZATION_TYPE_Realtor,ORGANIZATION_TYPE_Restaurant,ORGANIZATION_TYPE_Trade: type 1,ORGANIZATION_TYPE_Trade: type 2,ORGANIZATION_TYPE_Trade: type 4,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University
0,1,961146.0,28233.0,688500.0,0.025164,-12108,-2372,-2446.0,NaN,0,3.0,2,0,0,0,NaN,NaN,0.0,2.0,-1.0,NaN,NaN,NaN,6.674625,34.043354,0.041007,0.195904,1.384050e+11,2.713604e+10,6.617490e+11,28720176,NaN,NaN,199884.349347,692424.556171,NaN,NaN,392.946034,True,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,0,296280.0,16069.5,225000.0,0.007020,-17907,-1712,-10450.0,NaN,1,2.0,2,0,0,0,NaN,NaN,0.0,5.0,-212.0,NaN,NaN,NaN,2.862609,18.437412,0.071420,0.095605,3.066498e+10,4.761071e+09,6.666300e+10,30656784,NaN,NaN,360241.507727,85123.098282,NaN,NaN,28.352153,True,True,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,1,183694.5,11236.5,139500.0,0.006852,-15221,-553,-1056.0,NaN,0,2.0,3,0,0,1,NaN,0.389339,0.0,7.0,-428.0,0.0,1.0,1.0,1.020525,16.348018,0.080548,0.036331,3.306501e+10,2.064083e+09,2.562538e+10,8417213,NaN,NaN,510700.656970,64744.220975,462321.097841,70080.982532,173.953125,True,True,False,True,False,False,True,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False

In [10]:
# ライブラリの読み込み
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score

データを説明変数と目的変数に分割します。今回の目的変数は「TARGET」なので、それ以外が説明変数となります。

In [11]:
# @title デフォルトのタイトル テキスト
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from optuna import TrialPruned
import numpy as np
import gc
from itertools import combinations
from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score
from xgboost import XGBClassifier
from catboost import CatBoostClassifier

def objective(trial, X, y, num_folds, cat_features=None):
    """
    Objective function for Optuna hyperparameter optimization with CatBoost.

    Args:
        trial: Optuna trial object.
        X (array-like or sparse matrix): Feature matrix.
        y (array-like): Target vector.
        num_folds (int): Number of cross-validation folds.
        cat_features (list, optional): List of categorical feature indices. Defaults to None.

    Returns:
        float: Mean AUC score across folds.
    """
    params = {
        'iterations': trial.suggest_int('iterations', 100, 1000),
        'depth': trial.suggest_int('depth', 3, 10),
        'learning_rate': trial.suggest_float('learning_rate', 0.001, 0.1, log=True),
        'l2_leaf_reg': trial.suggest_float('l2_leaf_reg', 1e-3, 10.0, log=True),
        'border_count': trial.suggest_int('border_count', 32, 255),
        'subsample': trial.suggest_float('subsample', 0.5, 1.0),
        'colsample_bylevel': trial.suggest_float('colsample_bylevel', 0.5, 1.0),
        'random_strength': trial.suggest_float('random_strength', 1e-3, 10.0, log=True),
        'bagging_temperature': trial.suggest_float('bagging_temperature', 0.0, 1.0),
        'random_seed': 13,
        'eval_metric': 'AUC',
        'verbose': False,
        'task_type': 'CPU',  # or 'GPU' if you have GPU support
    }

    kf = KFold(n_splits=num_folds, shuffle=True, random_state=13)
    oof_preds = np.zeros(len(X))
    intermediate_scores = []

    for fold, (train_idx, valid_idx) in enumerate(kf.split(X, y)):
        X_train, X_valid = X[train_idx], X[valid_idx]
        y_train, y_valid = y[train_idx], y[valid_idx]

        model = CatBoostClassifier(**params)
        model.fit(
            X_train, y_train,
            eval_set=(X_valid, y_valid),
            cat_features=cat_features,
            early_stopping_rounds=50  # Optional: to enable early stopping
        )

        preds = model.predict_proba(X_valid)[:, 1]
        auc = roc_auc_score(y_valid, preds)
        oof_preds[valid_idx] = preds

        intermediate_scores.append(auc)

        # Report intermediate objective value
        trial.report(np.mean(intermediate_scores), step=fold)

        # Handle pruning
        if trial.should_prune():
            raise TrialPruned()

    final_auc = roc_auc_score(y, oof_preds)
    return final_auc

# Step 2: Tuning function (with resume capability)
def tune_xgboost(X, y, num_folds=5, n_trials=200, db_path="sqlite:///optuna_study.db", study_name="xgboost_tuning"):
    sample_frac = 0.3
    X, _, y, _ = train_test_split(X, y, train_size=sample_frac, random_state=42, stratify=y)
    # Use RDBStorage to save progress
    storage = optuna.storages.RDBStorage(url=db_path)
    study = optuna.create_study(
        study_name=study_name,
        direction='maximize',
        storage=storage,
        load_if_exists=True
    )

    # Optimize the study
    study.optimize(lambda trial: objective(trial, X, y, num_folds), n_trials=n_trials)

    # Output the best results
    print("Best trial:")
    trial = study.best_trial
    print(f"  Value: {trial.value}")
    print("  Params: ")
    for key, value in trial.params.items():
        print(f"    {key}: {value}")
    return trial.params

In [12]:
# 目的変数と説明変数に分割
X = train.values
y = train_target.iloc[:, 1].values
X_test = test.values

In [13]:
best_params = tune_xgboost(X, y, num_folds=5, n_trials=100)

[I 2024-12-12 04:21:14,993] A new study created in RDB with name: xgboost_tuning
[I 2024-12-12 04:22:10,938] Trial 0 finished with value: 0.7451108572352904 and parameters: {'iterations': 899, 'depth': 6, 'learning_rate': 0.08638000585912181, 'l2_leaf_reg': 0.1690658603693538, 'border_count': 254, 'subsample': 0.918645189766528, 'colsample_bylevel': 0.997012661438115, 'random_strength': 1.3275948371816084, 'bagging_temperature': 0.3603426683159323}. Best is trial 0 with value: 0.7451108572352904.
[I 2024-12-12 04:24:54,024] Trial 1 finished with value: 0.7349435689263761 and parameters: {'iterations': 539, 'depth': 10, 'learning_rate': 0.029333761251955706, 'l2_leaf_reg': 0.4618449021143107, 'border_count': 208, 'subsample': 0.9313028464599866, 'colsample_bylevel': 0.8070265878788231, 'random_strength': 1.4921622146368902, 'bagging_temperature': 0.4563900902546787}. Best is trial 0 with value: 0.7451108572352904.
[I 2024-12-12 04:25:14,581] Trial 2 finished with value: 0.5747904446568387 and parameters: {'iterations': 131, 'depth': 3, 'learning_rate': 0.0029153947575625326, 'l2_leaf_reg': 0.018182642851687976, 'border_count': 68, 'subsample': 0.9654793900543366, 'colsample_bylevel': 0.6275638656670897, 'random_strength': 6.542048203527755, 'bagging_temperature': 0.7902873921705185}. Best is trial 0 with value: 0.7451108572352904.
[I 2024-12-12 04:25:41,531] Trial 3 finished with value: 0.5729539394798379 and parameters: {'iterations': 460, 'depth': 3, 'learning_rate': 0.008859486399561153, 'l2_leaf_reg': 0.00166890839911559, 'border_count': 254, 'subsample': 0.7685471346189398, 'colsample_bylevel': 0.7420493252342713, 'random_strength': 0.7301529073579708, 'bagging_temperature': 0.18971064767542567}. Best is trial 0 with value: 0.7451108572352904.
[I 2024-12-12 04:26:35,180] Trial 4 finished with value: 0.7175619743389661 and parameters: {'iterations': 848, 'depth': 9, 'learning_rate': 0.08427319497636351, 'l2_leaf_reg': 0.016797077330682555, 'border_count': 246, 'subsample': 0.9497148331439438, 'colsample_bylevel': 0.7171607007189723, 'random_strength': 0.015260405915508472, 'bagging_temperature': 0.1538950509092466}. Best is trial 0 with value: 0.7451108572352904.
[I 2024-12-12 04:31:41,480] Trial 5 finished with value: 0.7460940283376011 and parameters: {'iterations': 888, 'depth': 9, 'learning_rate': 0.008368457700256801, 'l2_leaf_reg': 8.049231374490498, 'border_count': 148, 'subsample': 0.5504879789672408, 'colsample_bylevel': 0.6945717247811889, 'random_strength': 0.0029563962544310865, 'bagging_temperature': 0.3669299665761745}. Best is trial 5 with value: 0.7460940283376011.
[I 2024-12-12 04:31:45,203] Trial 6 pruned.
[I 2024-12-12 04:32:44,979] Trial 7 finished with value: 0.747915399356536 and parameters: {'iterations': 645, 'depth': 4, 'learning_rate': 0.053778611635110864, 'l2_leaf_reg': 2.95955529805848, 'border_count': 112, 'subsample': 0.7010760840882853, 'colsample_bylevel': 0.9304370239965716, 'random_strength': 0.10238986774359755, 'bagging_temperature': 0.16366238805664168}. Best is trial 7 with value: 0.747915399356536.
[I 2024-12-12 04:34:14,150] Trial 8 pruned.
[I 2024-12-12 04:34:56,496] Trial 9 finished with value: 0.7459653841626075 and parameters: {'iterations': 374, 'depth': 4, 'learning_rate': 0.06532904065031676, 'l2_leaf_reg': 0.03538643122726764, 'border_count': 52, 'subsample': 0.8422666543833796, 'colsample_bylevel': 0.5263938097241909, 'random_strength': 2.031311686104583, 'bagging_temperature': 0.6929203105748378}. Best is trial 7 with value: 0.747915399356536.
[I 2024-12-12 04:36:31,920] Trial 10 finished with value: 0.7495459190636772 and parameters: {'iterations': 724, 'depth': 7, 'learning_rate': 0.02530728450082885, 'l2_leaf_reg': 6.251021579541343, 'border_count': 98, 'subsample': 0.644392634945847, 'colsample_bylevel': 0.8877122928326964, 'random_strength': 0.1548388215095053, 'bagging_temperature': 0.01332274347217241}. Best is trial 10 with value: 0.7495459190636772.
[I 2024-12-12 04:37:50,046] Trial 11 finished with value: 0.7479660968703409 and parameters: {'iterations': 709, 'depth': 7, 'learning_rate': 0.026279428584893117, 'l2_leaf_reg': 7.316322319949178, 'border_count': 91, 'subsample': 0.652865869972664, 'colsample_bylevel': 0.8774277854251132, 'random_strength': 0.10846316272401409, 'bagging_temperature': 0.011434105552864674}. Best is trial 10 with value: 0.7495459190636772.
[I 2024-12-12 04:39:18,697] Trial 12 finished with value: 0.7487759135355844 and parameters: {'iterations': 731, 'depth': 7, 'learning_rate': 0.02275289338844324, 'l2_leaf_reg': 8.96866848304874, 'border_count': 90, 'subsample': 0.6512070542540442, 'colsample_bylevel': 0.8683173876616382, 'random_strength': 0.12686340754623368, 'bagging_temperature': 0.044139693932958024}. Best is trial 10 with value: 0.7495459190636772.
[I 2024-12-12 04:40:49,357] Trial 13 finished with value: 0.7476981571382211 and parameters: {'iterations': 727, 'depth': 7, 'learning_rate': 0.020006444796201648, 'l2_leaf_reg': 2.6486384361060993, 'border_count': 91, 'subsample': 0.6179860868937006, 'colsample_bylevel': 0.841314023182627, 'random_strength': 0.382491378006621, 'bagging_temperature': 0.00579318871403927}. Best is trial 10 with value: 0.7495459190636772.
[I 2024-12-12 04:41:06,540] Trial 14 pruned.
[I 2024-12-12 04:42:29,558] Trial 15 finished with value: 0.7499997139197124 and parameters: {'iterations': 992, 'depth': 6, 'learning_rate': 0.03405167259458527, 'l2_leaf_reg': 9.25312796514542, 'border_count': 181, 'subsample': 0.6246708569930497, 'colsample_bylevel': 0.8054475032946973, 'random_strength': 0.27533142411449196, 'bagging_temperature': 0.3205607840084543}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 04:43:25,196] Trial 16 finished with value: 0.7478297898305039 and parameters: {'iterations': 976, 'depth': 6, 'learning_rate': 0.0414724415886743, 'l2_leaf_reg': 1.9761778025326053, 'border_count': 178, 'subsample': 0.504047208819994, 'colsample_bylevel': 0.787855509380134, 'random_strength': 0.29033323077878925, 'bagging_temperature': 0.32479665035699246}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 04:44:59,930] Trial 17 pruned.
[I 2024-12-12 04:45:13,707] Trial 18 pruned.
[I 2024-12-12 04:45:29,125] Trial 19 pruned.
[I 2024-12-12 04:46:06,212] Trial 20 pruned.
[I 2024-12-12 04:46:17,323] Trial 21 pruned.
[I 2024-12-12 04:46:21,128] Trial 22 pruned.
[I 2024-12-12 04:46:35,069] Trial 23 pruned.
[I 2024-12-12 04:47:21,254] Trial 24 pruned.
[I 2024-12-12 04:49:26,182] Trial 25 finished with value: 0.7485461808475745 and parameters: {'iterations': 761, 'depth': 8, 'learning_rate': 0.03413879312059419, 'l2_leaf_reg': 4.848775784132048, 'border_count': 156, 'subsample': 0.6238895384860916, 'colsample_bylevel': 0.7709029525535395, 'random_strength': 0.5346415654026228, 'bagging_temperature': 0.2457068259158949}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 04:49:53,628] Trial 26 pruned.
[I 2024-12-12 04:50:34,842] Trial 27 pruned.
[I 2024-12-12 04:50:47,921] Trial 28 pruned.
[I 2024-12-12 04:52:33,786] Trial 29 pruned.
[I 2024-12-12 04:52:43,066] Trial 30 pruned.
[I 2024-12-12 04:53:12,756] Trial 31 pruned.
[I 2024-12-12 04:53:23,929] Trial 32 pruned.
[I 2024-12-12 04:53:49,373] Trial 33 pruned.
[I 2024-12-12 04:54:06,795] Trial 34 pruned.
[I 2024-12-12 04:54:53,811] Trial 35 pruned.
[I 2024-12-12 04:54:59,202] Trial 36 pruned.
[I 2024-12-12 04:55:26,328] Trial 37 pruned.
[I 2024-12-12 04:55:34,289] Trial 38 pruned.
[I 2024-12-12 04:55:39,716] Trial 39 pruned.
[I 2024-12-12 04:55:51,022] Trial 40 pruned.
[I 2024-12-12 04:56:16,289] Trial 41 pruned.
[I 2024-12-12 04:57:19,497] Trial 42 finished with value: 0.747685773948634 and parameters: {'iterations': 746, 'depth': 7, 'learning_rate': 0.03286777233496249, 'l2_leaf_reg': 9.518731489276506, 'border_count': 72, 'subsample': 0.6175460214566344, 'colsample_bylevel': 0.8969356500339261, 'random_strength': 0.12232334910347481, 'bagging_temperature': 0.13956858193442473}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 04:58:26,890] Trial 43 pruned.
[I 2024-12-12 04:59:29,948] Trial 44 finished with value: 0.7478992409288692 and parameters: {'iterations': 582, 'depth': 6, 'learning_rate': 0.040029730931782186, 'l2_leaf_reg': 6.202380438913631, 'border_count': 122, 'subsample': 0.6836314073695371, 'colsample_bylevel': 0.7826901100366234, 'random_strength': 0.018285978713982375, 'bagging_temperature': 0.05325216041615846}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 04:59:52,631] Trial 45 pruned.
[I 2024-12-12 05:00:09,812] Trial 46 pruned.
[I 2024-12-12 05:00:23,526] Trial 47 pruned.
[I 2024-12-12 05:01:48,662] Trial 48 pruned.
[I 2024-12-12 05:01:56,877] Trial 49 pruned.
[I 2024-12-12 05:02:13,905] Trial 50 pruned.
[I 2024-12-12 05:03:06,277] Trial 51 finished with value: 0.747907460628558 and parameters: {'iterations': 624, 'depth': 3, 'learning_rate': 0.05591772426417294, 'l2_leaf_reg': 3.4362099060707645, 'border_count': 94, 'subsample': 0.609405115201447, 'colsample_bylevel': 0.9941937232757152, 'random_strength': 0.07157981238065078, 'bagging_temperature': 0.1709007042148975}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 05:03:18,548] Trial 52 pruned.
[I 2024-12-12 05:04:06,024] Trial 53 finished with value: 0.7479876499548576 and parameters: {'iterations': 758, 'depth': 4, 'learning_rate': 0.06892827262127267, 'l2_leaf_reg': 2.5949106920852247, 'border_count': 108, 'subsample': 0.7073001510407658, 'colsample_bylevel': 0.9230542633006289, 'random_strength': 0.031913115707321305, 'bagging_temperature': 0.22119453559589108}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 05:04:50,217] Trial 54 finished with value: 0.7481930811441602 and parameters: {'iterations': 766, 'depth': 5, 'learning_rate': 0.06901668143032332, 'l2_leaf_reg': 6.925281857461191, 'border_count': 131, 'subsample': 0.7167814932455859, 'colsample_bylevel': 0.8966176856993139, 'random_strength': 0.04363606696250198, 'bagging_temperature': 0.3504511611016442}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 05:04:56,797] Trial 55 pruned.
[I 2024-12-12 05:05:26,531] Trial 56 pruned.
[I 2024-12-12 05:05:34,858] Trial 57 pruned.
[I 2024-12-12 05:06:21,896] Trial 58 pruned.
[I 2024-12-12 05:06:35,525] Trial 59 pruned.
[I 2024-12-12 05:06:41,287] Trial 60 pruned.
[I 2024-12-12 05:07:48,796] Trial 61 finished with value: 0.7495528922706849 and parameters: {'iterations': 717, 'depth': 5, 'learning_rate': 0.035904408153771536, 'l2_leaf_reg': 9.693069509820871, 'border_count': 89, 'subsample': 0.6958841850754912, 'colsample_bylevel': 0.8634607163990695, 'random_strength': 0.1250413845182982, 'bagging_temperature': 0.0395561371170198}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 05:08:51,163] Trial 62 finished with value: 0.7488150145805927 and parameters: {'iterations': 749, 'depth': 5, 'learning_rate': 0.03763152221338709, 'l2_leaf_reg': 9.81897074978367, 'border_count': 120, 'subsample': 0.696354624117644, 'colsample_bylevel': 0.7943242147034897, 'random_strength': 0.13795359499032864, 'bagging_temperature': 0.30764389275741044}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 05:10:05,735] Trial 63 finished with value: 0.7498068600459065 and parameters: {'iterations': 817, 'depth': 5, 'learning_rate': 0.033591906071197906, 'l2_leaf_reg': 7.3317827738527175, 'border_count': 149, 'subsample': 0.6750426115255058, 'colsample_bylevel': 0.7774278337443903, 'random_strength': 0.8102661025518619, 'bagging_temperature': 0.39145125791057694}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 05:11:19,369] Trial 64 finished with value: 0.7493402886398886 and parameters: {'iterations': 824, 'depth': 5, 'learning_rate': 0.03480763102402611, 'l2_leaf_reg': 9.837453370329728, 'border_count': 145, 'subsample': 0.67845597287083, 'colsample_bylevel': 0.793526981160582, 'random_strength': 0.7636612441717098, 'bagging_temperature': 0.3868153250986317}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 05:12:43,412] Trial 65 finished with value: 0.7481577655543845 and parameters: {'iterations': 828, 'depth': 5, 'learning_rate': 0.020559184121778058, 'l2_leaf_reg': 9.936081063203291, 'border_count': 66, 'subsample': 0.6715204721544238, 'colsample_bylevel': 0.7969990174384954, 'random_strength': 0.8201149285715439, 'bagging_temperature': 0.39048382251892594}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 05:14:02,421] Trial 66 finished with value: 0.7494301740445036 and parameters: {'iterations': 887, 'depth': 5, 'learning_rate': 0.028277433541013402, 'l2_leaf_reg': 7.606849359569302, 'border_count': 146, 'subsample': 0.6902188677425185, 'colsample_bylevel': 0.7796383490808474, 'random_strength': 0.25334376291227184, 'bagging_temperature': 0.6370157083057126}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 05:14:24,673] Trial 67 pruned.
[I 2024-12-12 05:15:32,207] Trial 68 finished with value: 0.7495192063168326 and parameters: {'iterations': 880, 'depth': 5, 'learning_rate': 0.036161151683324184, 'l2_leaf_reg': 4.04313654528825, 'border_count': 144, 'subsample': 0.6413386263912824, 'colsample_bylevel': 0.7837198969495851, 'random_strength': 0.37109269978373466, 'bagging_temperature': 0.4412436163363839}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 05:17:02,055] Trial 69 finished with value: 0.749863749154505 and parameters: {'iterations': 885, 'depth': 6, 'learning_rate': 0.030315686661646322, 'l2_leaf_reg': 5.02774681526522, 'border_count': 144, 'subsample': 0.6405893913374563, 'colsample_bylevel': 0.7785880816637734, 'random_strength': 1.4376268097078255, 'bagging_temperature': 0.44897151403492475}. Best is trial 15 with value: 0.7499997139197124.
[I 2024-12-12 05:17:25,419] Trial 70 pruned.
[I 2024-12-12 05:19:05,083] Trial 71 finished with value: 0.7504051254471256 and parameters: {'iterations': 900, 'depth': 6, 'learning_rate': 0.02945428705717354, 'l2_leaf_reg': 5.28596030389455, 'border_count': 142, 'subsample': 0.6660116261222767, 'colsample_bylevel': 0.7802247736320963, 'random_strength': 2.844833090075451, 'bagging_temperature': 0.5701204084982113}. Best is trial 71 with value: 0.7504051254471256.
[I 2024-12-12 05:19:11,354] Trial 72 pruned.
[I 2024-12-12 05:20:59,198] Trial 73 finished with value: 0.7490591943231208 and parameters: {'iterations': 929, 'depth': 6, 'learning_rate': 0.02400781649241397, 'l2_leaf_reg': 5.019489558824204, 'border_count': 167, 'subsample': 0.6682072240920046, 'colsample_bylevel': 0.7270484568533186, 'random_strength': 2.9939802544719956, 'bagging_temperature': 0.5774850827991348}. Best is trial 71 with value: 0.7504051254471256.
[I 2024-12-12 05:21:09,347] Trial 74 pruned.
[I 2024-12-12 05:22:45,233] Trial 75 finished with value: 0.7485810468826127 and parameters: {'iterations': 968, 'depth': 5, 'learning_rate': 0.02123892127598743, 'l2_leaf_reg': 3.8628064972366642, 'border_count': 185, 'subsample': 0.593615739780723, 'colsample_bylevel': 0.7027713730926155, 'random_strength': 1.5272826762609872, 'bagging_temperature': 0.5194044497000341}. Best is trial 71 with value: 0.7504051254471256.
[I 2024-12-12 05:24:22,867] Trial 76 finished with value: 0.7493680690792348 and parameters: {'iterations': 939, 'depth': 6, 'learning_rate': 0.030804473177199573, 'l2_leaf_reg': 5.35946339955383, 'border_count': 172, 'subsample': 0.6134266582004302, 'colsample_bylevel': 0.8274425751599489, 'random_strength': 3.9735978853488145, 'bagging_temperature': 0.5801477026410777}. Best is trial 71 with value: 0.7504051254471256.
[I 2024-12-12 05:26:11,352] Trial 77 finished with value: 0.748450594271516 and parameters: {'iterations': 999, 'depth': 5, 'learning_rate': 0.01841954921594745, 'l2_leaf_reg': 7.330193360290308, 'border_count': 240, 'subsample': 0.6573651311831346, 'colsample_bylevel': 0.7760744345826789, 'random_strength': 2.142394609255885, 'bagging_temperature': 0.43699236818365783}. Best is trial 71 with value: 0.7504051254471256.
[I 2024-12-12 05:26:20,934] Trial 78 pruned.
[I 2024-12-12 05:26:45,066] Trial 79 pruned.
[I 2024-12-12 05:27:49,672] Trial 80 finished with value: 0.7485488679588465 and parameters: {'iterations': 902, 'depth': 4, 'learning_rate': 0.03605832029194786, 'l2_leaf_reg': 4.451637028504768, 'border_count': 132, 'subsample': 0.6459916216299566, 'colsample_bylevel': 0.808144989042721, 'random_strength': 1.076181336429844, 'bagging_temperature': 0.7528229982502067}. Best is trial 71 with value: 0.7504051254471256.
[I 2024-12-12 05:29:18,811] Trial 81 finished with value: 0.7487419261757149 and parameters: {'iterations': 941, 'depth': 6, 'learning_rate': 0.03228816343598229, 'l2_leaf_reg': 5.378229282624682, 'border_count': 172, 'subsample': 0.6091688896528024, 'colsample_bylevel': 0.8278322620173721, 'random_strength': 2.9679057477776083, 'bagging_temperature': 0.5944131975543921}. Best is trial 71 with value: 0.7504051254471256.
[I 2024-12-12 05:30:56,602] Trial 82 finished with value: 0.7492433636167708 and parameters: {'iterations': 976, 'depth': 6, 'learning_rate': 0.030100645293177318, 'l2_leaf_reg': 5.5380379861892255, 'border_count': 162, 'subsample': 0.6101205491954843, 'colsample_bylevel': 0.8557786947977369, 'random_strength': 4.443763799516517, 'bagging_temperature': 0.5684073288365815}. Best is trial 71 with value: 0.7504051254471256.
[I 2024-12-12 05:31:57,426] Trial 83 finished with value: 0.7489959297109725 and parameters: {'iterations': 881, 'depth': 6, 'learning_rate': 0.04318527436494909, 'l2_leaf_reg': 7.55019152215486, 'border_count': 147, 'subsample': 0.7320261290850593, 'colsample_bylevel': 0.840308745656655, 'random_strength': 0.1907735916524448, 'bagging_temperature': 0.5000785091596558}. Best is trial 71 with value: 0.7504051254471256.
[I 2024-12-12 05:32:02,597] Trial 84 pruned.
[I 2024-12-12 05:32:55,644] Trial 85 pruned.
[I 2024-12-12 05:33:32,932] Trial 86 pruned.
[I 2024-12-12 05:34:37,078] Trial 87 finished with value: 0.7513682709293119 and parameters: {'iterations': 855, 'depth': 5, 'learning_rate': 0.05951143529700651, 'l2_leaf_reg': 7.6281422102055005, 'border_count': 180, 'subsample': 0.664450188123631, 'colsample_bylevel': 0.8000552761878679, 'random_strength': 0.26553215110853756, 'bagging_temperature': 0.6197718091674634}. Best is trial 87 with value: 0.7513682709293119.
[I 2024-12-12 05:35:28,304] Trial 88 finished with value: 0.7497751562197604 and parameters: {'iterations': 805, 'depth': 5, 'learning_rate': 0.05956136665502027, 'l2_leaf_reg': 7.485819825360739, 'border_count': 179, 'subsample': 0.6945567011634953, 'colsample_bylevel': 0.8046373246850691, 'random_strength': 0.2590708017480867, 'bagging_temperature': 0.6039993708876057}. Best is trial 87 with value: 0.7513682709293119.
[I 2024-12-12 05:35:35,746] Trial 89 pruned.
[I 2024-12-12 05:36:31,951] Trial 90 finished with value: 0.7496888110587032 and parameters: {'iterations': 851, 'depth': 5, 'learning_rate': 0.05707781196155668, 'l2_leaf_reg': 7.958909080898696, 'border_count': 180, 'subsample': 0.6691078303364916, 'colsample_bylevel': 0.8620895979568437, 'random_strength': 0.9218329289049098, 'bagging_temperature': 0.41928641501216524}. Best is trial 87 with value: 0.7513682709293119.
[I 2024-12-12 05:37:29,114] Trial 91 finished with value: 0.750490019772439 and parameters: {'iterations': 788, 'depth': 5, 'learning_rate': 0.05970096810898705, 'l2_leaf_reg': 7.803700726086681, 'border_count': 181, 'subsample': 0.6706963290861668, 'colsample_bylevel': 0.7662110014698603, 'random_strength': 0.8460927376700631, 'bagging_temperature': 0.4154268480896227}. Best is trial 87 with value: 0.7513682709293119.

Best trial:
  Value: 0.7513682709293119
  Params:
    iterations: 855
    depth: 5
    learning_rate: 0.05951143529700651
    l2_leaf_reg: 7.6281422102055005
    border_count: 180
    subsample: 0.664450188123631
    colsample_bylevel: 0.8000552761878679
    random_strength: 0.26553215110853756
    bagging_temperature: 0.6197718091674634

In [ ]:
import optuna
from optuna.samplers import TPESampler
import xgboost as xgb
from sklearn.metrics import roc_auc_score
import time
from sklearn.model_selection import StratifiedKFold
from catboost import CatBoostClassifier
import copy
# 再現性確保のためのシード値設定
SEED = 13


def evaluate(low_threshold, high_threshold):
    row = copy.copy(oof_predictions)
    row[row < low_threshold] = 0
    row[row >= high_threshold] = 1
    return roc_auc_score(train_target.iloc[:, 1].values, row)



def objective(trial):
    low_threshold = trial.suggest_float('low_threshold', 0.0, 1.0)
    high_threshold = trial.suggest_float('high_threshold', 0.0, 1.0)
    if low_threshold >= high_threshold:
        return 0.0
    return evaluate(low_threshold, high_threshold)

# Optunaによる最適化（TPESamplerでシード固定）
study = optuna.create_study(direction='maximize', sampler=TPESampler(seed=SEED))
study.optimize(objective, n_trials=100)

best_trial = study.best_trial
print("Best Score:", best_trial.value)
print("Best Feature Set:")
best_features = [k for k, v in best_trial.params.items() if v is True]
print(best_features)

In [ ]:
test_preds[test_preds < best_trial.params["low_threshold"]] = 0
test_preds[test_preds >= best_trial.params["high_threshold"]] =1

In [ ]:
# 予測結果を提出用のフォーマットに格納
sample_sub['TARGET'] = test_preds
sample_sub

In [ ]:
# 提出用のcsvファイルを作成
sample_sub.to_csv('GCI-コンペ２_009.csv',index=False)

以上で、Home Credit Default Riskコンペのチュートリアルは終了です。今回は、50種類ある特徴量のうち5種類しか使用していないので、まだまだ改善の余地があります。この後は、このnotebookやこれまでの教材を参考にして、さらなるスコアの向上を目指してください！

In [ ]:
train

In [ ]:
train["oof_predictions"] = oof_predictions

In [ ]:
train

In [ ]:

# 'TARGET' 列が存在しない場合は追加
if 'TARGET' not in train.columns:
    train['TARGET'] = y  # y が NumPy 配列または Pandas Series であることを確認

# 'oof_predictions' 列が存在しない場合は追加
if 'oof_predictions' not in train.columns:
    train['oof_predictions'] = oof_predictions  # oof_predictions が予測値の配列であることを確認


# 可視化1: TARGETごとのoof_predictions分布を箱ひげ図で可視化
plt.figure(figsize=(8, 6))
sns.boxplot(x='TARGET', y='oof_predictions', data=train)
plt.title('TARGET ごとの oof_predictions の箱ひげ図')
plt.xlabel('TARGET')
plt.ylabel('oof_predictions')
plt.show()

# 可視化2: TARGETごとのoof_predictions分布をヒストグラム＋カーネル密度推定で可視化
plt.figure(figsize=(8, 6))
sns.histplot(data=train, x='oof_predictions', hue='TARGET', kde=True, stat='probability', common_norm=False)
plt.title('TARGET ごとの oof_predictions のヒストグラムとカーネル密度推定')
plt.xlabel('oof_predictions')
plt.ylabel('割合')
plt.show()

# 可視化3: TARGETとoof_predictionsの相関を散布図で可視化
plt.figure(figsize=(8, 6))
sns.stripplot(x='TARGET', y='oof_predictions', data=train, jitter=True, alpha=0.5)
plt.title('TARGET と oof_predictions の散布図')
plt.xlabel('TARGET')
plt.ylabel('oof_predictions')
plt.show()

In [ ]:
train[list(best_features)].to_csv("train_008.csv")
test[list(best_features)].to_csv("test_008.csv")